body {
    text-align: center;
}

textarea {
    font-size: 20px;
    color: black;
}

.keyboard {
    width: 740px;
    margin: 0 auto;
    text-align: center;
}

.language {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: cornflowerblue;
    outline: none;
    transition: all 0.2s ease;
}

.language:hover {
    border-radius: 20px;
}

.language:focus {
    outline: none;
}

.key {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font: bold 20px 'Montserrat', sans-serif;
    margin: 2px 2px 2px;
    background-color: #4595f7;
    outline: none;
    opacity: 0.9;
}

.key:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: #429ef5;
}

.hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: #3a93e7;
}

.backspace {
    width: 100px;
    
}

.space {
    width: 400px;
}

.enter, .capslock {
    width: 70px;
    padding-bottom: 5px;
}

.caps_on {
    text-shadow: 0px 0px 5px black;
    color: white;
}

.key_caps {
    text-transform: uppercase;
}
